@import '../../app.scss';

.conteudo {
  width: 100%;
  height: auto;
  background-color: rgb(220, 220, 220);
  padding-top: 80px;

  section {
    width: calc(100% - 14rem);
    height: calc(100% - 3rem);
    padding: 2rem 5rem;
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-gap: 2rem;

    @media (max-width: 767px) {
      padding: 2rem 3rem;
      width: calc(100% - 6rem);
      grid-template-columns: 100%;
    }

    @media (min-width: 768px) and (max-width: 1023px) {
      width: calc(100% - 12rem);
      grid-template-columns: 50% 50%;
    }
  }

  div {
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
}

.botao {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  width: 15%;
  height: 75%;
  background-color: $secundaryColor;
  border: none;
  border-radius: 5px;
  color: white;
  box-shadow: 1px 1px 10px black;
  margin-left: 1rem;

  &:nth-child(1) {
    margin-left: 0;
  }

  &:hover {
    cursor: pointer;
    background-color: #05755f;
  }

  @media (max-width: 768px) {
    width: 35%;
  }

  @media (min-width: 768px) and (max-width: 1023px) {
    width: 25%;
  }
}
