@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Roboto&display=swap');

$primaryColor: #232a34;
$secundaryColor: #05a081;

@mixin flexCenter() {
  display: flex;
  justify-content: center;
  align-items: center;
}

#root {
  width: 100%;
  height: 100vh;
}
